body{
    background-image: url("./../images/main_bg.png");
    background-repeat: no-repeat;
    background-color: #C9CBCE;
}
.container {
    position: relative;
    display: block;
    width: 1000px;
    height: 700px;
    // background-color: red;
    &>.navi {  
    .first_name{
        font-size: 18px;
        color: #808080;
    }
    .last_name{
        // 因为没一个Colum之间其实都有30px 的距离 因为每一个colum 都有15px 的左右边距 要消除的话 只能走-值
       font-size: 18px;
       margin-left: -25px;
       color: #191970;
    }

    .list{ 
        text-decoration: none;
        color: #8E939A;
    //    &:hover{
    //         color:black;
    //         border-bottom: 3px solid #191970;
    //     }  
    }
 }
 .banner{
    margin-top:30px;
    display: block;
    width: 1000px;
    height: 350px;
    background-color: #191970;
    background-image: url("./../images/main_bg.png");
    .photo{
        position: absolute;
        top: 150px;
        left: 30px;
        width: 300px;
        height: 300px;
        border:4px solid #ffffff;
        &:hover{
          position: absolute;
           top: 130px;
        //    rgba 红绿蓝透明度  10px 是模糊距离 这样才能模糊的
           box-shadow:  0px 20px 10px rgba(0,0,0,0.1);
        }
    }
    #my_name{
        position: absolute;
        color:#ffffff;
        left: 500px;
        top: 130px;
    }
    #job{
        position: absolute;
        color:#ffffff; 
        left: 520px;
        top: 200px;
    }
    #twitter{
        position: absolute;
        height: 40px;
        width: 40px;
        left: 530px;
        top: 250px;
    }
    #facebook{
        position: absolute;
        height: 30px;
        width: 30px;
        left: 570px;
        top: 255px;
    }
    #github{
        position: absolute;
        height: 30px;
        width: 30px;
        left: 605px;
        top: 255px;
    }
 }
 .personal_detail{
     position: absolute;
     top:480px;
     #me{
         margin-left: 6px;
         color: #191970;
     }
 }
}
